<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          crossorigin="anonymous">

    <title>Admin panel</title>
    <style>
        #left-right .nav-link.active {
            background-color: #007bff;
            color: white;
            width: 100%;
            border-radius: 4px;
        }

        .content-wrapper-light {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 4px;
        }

        .form-group label {
            margin-bottom: 0;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-text text-white">
            <b><span th:text="${currentUser.email}"></span></b> with roles:
            <span th:text="${currentUser.getRolesInString()}"></span>
        </div>
        <div>
            <a href="/logout" style="color: darkgrey">Logout</a></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div id="left-right" class="col-2 mt-3 bg-light sidebar px-0 bg-white">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" href="/admin">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-10 content-wrapper-light">
            <div class="container ml-0">
                <h1>Admin panel</h1>

                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#panel" data-toggle="tab">Users table</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#new_user" data-toggle="tab">New User</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="panel">
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color: #f7f7f7; border-radius: 0">
                                <h5>All users</h5></li>
                        </ul>
                        <div class="container border" style="background-color: white">
                            <div class="shadow-sm my-3 bg-light rounded"></div>
                            <table class="table w-85 mx-auto table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
<!--ADD NEW USER-->
                    <div class="tab-pane" id="new_user">
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color: #f7f7f7; border-radius: 0">
                                <h5>Add new user</h5></li>
                        </ul>
                        <div class="container border" style="background-color: white">
                            <form id="new-user-form" style="width: 26%;" class="mx-auto">
                                <div class="form-group mt-3">
                                    <input type="hidden" name="id">
                                    <div class="form-group text-center">
                                        <label for="newName" class="d-block"><b>First name:</b></label>
                                        <input type="text" id="newName" name="name"
                                               class="form-control form-control-sm mx-auto" placeholder="First name"
                                               required/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="newSurname" class="d-block"><b>Last name:</b></label>
                                        <input type="text" id="newSurname" name="surname"
                                               class="form-control form-control-sm mx-auto" placeholder="Last name"
                                               required/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="newAge" class="d-block"><b>Age:</b></label>
                                        <input type="number" id="newAge" name="age"
                                               class="form-control form-control-sm mx-auto" placeholder="Age" required
                                               min="0" step="1"/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="newEmail" class="d-block"><b>Email:</b></label>
                                        <input type="email" id="newEmail" name="email"
                                               class="form-control form-control-sm mx-auto" placeholder="Email"
                                               required/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="newPassword" class="d-block"><b>Password:</b></label>
                                        <input type="password" id="newPassword" name="password"
                                               class="form-control form-control-sm mx-auto" placeholder="Password"
                                               required/>
                                    </div>
                                    <div class="form-group text-center">
                                        <label><b>Role:</b></label>
                                        <select id="newRoles" name="roles" class="form-control form-control-sm mx-auto"
                                                multiple size="2" required>
                                            <option value="2">ADMIN</option>
                                            <option value="1">USER</option>
                                        </select>
                                    </div>
                                    <input type="submit" value="Add new user" class="btn btn-success mx-auto d-block">
                                </div>
                            </form>
                        </div>
                    </div>
<!--EDIT-->
                    <div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit User</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form id="edit-user-form">
                                            <div class="form-group text-center">
                                                <label for="editId" class="d-block"><b>ID:</b></label>
                                                <input type="number" id="editId" name="id"
                                                       class="form-control form-control-sm w-50 mx-auto" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="editName" class="d-block"><b>First name:</b></label>
                                                <input type="text" id="editName" name="name"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="First name" required/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="editSurname" class="d-block"><b>Last
                                                    name:</b></label>
                                                <input type="text" id="editSurname" name="surname"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Last name" required/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="editAge" class="d-block"><b>Age:</b></label>
                                                <input type="number" id="editAge" name="age"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Age" required min="0" step="1"/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="editEmail" class="d-block"><b>Email:</b></label>
                                                <input type="email" id="editEmail" name="email"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Email" required/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="editPassword" class="d-block"><b>Password:</b></label>
                                                <input type="password" id="editPassword" name="password"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Password" required/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label><b>Role:</b></label>
                                                <select id="editRoles" name="roles"
                                                        class="form-control form-control-sm mx-auto" multiple size="2"
                                                        style="max-height: 44px; width: 50% ; overflow-y: auto;"
                                                        required>
                                                    <option value="2">Admin</option>
                                                    <option value="1">User</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--DELETE-->
                    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete User</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form id="delete-user-form">
                                            <div class="form-group text-center">
                                                <label for="deleteId" class="d-block"><b>ID:</b></label>
                                                <input type="number" id="deleteId" name="id"
                                                       class="form-control form-control-sm w-50 mx-auto" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="deleteName" class="d-block"><b>First name:</b></label>
                                                <input type="text" id="deleteName" name="name"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="First name" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="deleteSurname" class="d-block"><b>Last
                                                    name:</b></label>
                                                <input type="text" id="deleteSurname" name="surname"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Last name" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="deleteAge" class="d-block"><b>Age:</b></label>
                                                <input type="number" id="deleteAge" name="age"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Age" required min="0" step="1" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="deleteEmail" class="d-block"><b>Email:</b></label>
                                                <input type="email" id="deleteEmail" name="email"
                                                       class="form-control form-control-sm w-50 mx-auto"
                                                       placeholder="Email" readonly/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label><b>Role:</b></label>
                                                <select id="deleteRoles" name="roles"
                                                        class="form-control form-control-sm mx-auto" multiple size="2"
                                                        style="max-height: 44px; width: 50% ; overflow-y: auto;"
                                                        readonly>
                                                    <option value="2">Admin</option>
                                                    <option value="1">User</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
